
body{
    min-height: 100vh;
}
.spark {
	transform: translateY(-90px);
	position: relative;

}
/* make spark */
.spark span {
	position: absolute;
	width: 2px;
	height: 20px;
	transform-origin: center;
	pointer-events: none;
    /* for display or none */
	/* background: #000;  */
	filter: drop-shadow(0 0 20px #0f0) drop-shadow(2px 0 40px #0f0);
}
.spark span::before{
    content: '|';
   position: absolute;
   width: 100%;
   height: 100%;
    background-color: lime;
    animation: spread-spark 2s ease-in-out forwards;
}

@keyframes spread-spark {
	0% {
		transform: translateY(100%);
	}
	100% {
		transform: translateY(2000%);
	}
}
