 
:root {
    overflow: hidden; /* hides any part of the sun below the horizon */
    background-color: lightblue;
    display: flex;
    justify-content: center; /* centers the sun in the background */
  }
  
  .sun {
    background-color: yellow;
    border-radius: 50%; /* creates a circular background */
    height: 100vh; /* makes the sun the size of the viewport */
    aspect-ratio: 1 / 1;
    animation: 4s linear 0s 1 sun-rise;
    transition: all 1s ease;
  }
  .sun:hover{
    transform: translateX(200px);
}
.sun:active{
    cursor: grabbing;
      transform: translateX(-200px);

  }
  
  @keyframes sun-rise {
    from {
      /* pushes the sun down past the viewport */
      transform: translateY(110vh);
      background-color: red;
      filter: brightness(75%);
    }
    to {
      /* returns the sun to its default position */
      background-color: orange;
      transform: translateY(0);
    }
  }
 
  :root {
    overflow: hidden;
    background-color: lightblue;
    display: flex;
    justify-content: center;
  }
  
  .sun {
    background-color: yellow;
    border-radius: 50%;
    height: 100vh;
    aspect-ratio: 1 / 1;
    /* multiple animations are separated by commas, each animation's parameters are set independently */
    animation:
      4s linear 0s infinite alternate rise,
      24s linear 0s infinite psychedelic;
  }
  
  @keyframes rise {
    from {
      transform: translateY(110vh);
    }
    to {
      transform: translateY(0);
    }
  }
  
  @keyframes psychedelic {
    from {
      filter: hue-rotate(0deg);
    }
    to {
      filter: hue-rotate(360deg);
    }
  }
  